{:site-title         "Bleu Barbeau - The world in an atom"
 :author             "Olivier Barbeau"
 :description        "Blog about Clojure and various thoughts."
 :site-url           "https://bleu-barbeau.com/"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      "posts"
 :page-root-uri      "pages"
 :tag-root-uri       "tags"
 :author-root-uri    "authors"
 :blog-prefix        ""
 :rss-name           "feed.xml"
 ; va générer un fichier clojure.xml contenant les feeds spécifiques clojure
 :rss-filters        ["clojure"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           []
 :sass-dest          nil
 :sass-path          "sass"
 :theme              "wiaa"
 :resources          ["img" "images"]
 :keep-files         ["fonts" ".git" "favicon.png" "robots.txt" "CNAME" "logo-bleu-Barbeau.png"]
 :disqus?            true
 :disqus-shortname   "wiaa"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          true
 :clean-urls?        true
 :hide-future-posts? true
 :klipse             {}
 :debug?             false}
