{:site-title         "The world in an atom"
 :author             "Olivier Barbeau"
 :description        "Blog about Clojure and various thoughts."
 :site-url           "http://world-in-atom.com/"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      "posts"
 :page-root-uri      "pages"
 :tag-root-uri       "tags"
 :author-root-uri    "authors"
 :blog-prefix        ""
 :rss-name           "feed.xml"
 :rss-filters        ["cryogen"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           nil
 :sass-dest          nil
 ; micahelliott.com
 ; la base du thème c'est bootstrap
 :theme              "wiaa"
 :resources          ["img" "images"]
 :keep-files         ["fonts" ".git" "favicon.png" "robots.txt" "CNAME"]
 :disqus?            true
 :disqus-shortname   "wiaa"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          true
 :clean-urls?        true}
